body {
  margin: 0px;
}


.box_outer {
  display: flex;
  flex-direction: row;
  background-color: seagreen;
  height: 100vh;
}


.box_inner {
  display: flex;
  flex-direction: column;
  width: calc(100% - 400px);
}


.msgHst {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  row-gap: 20px;
  overflow: auto;
  padding-inline: 30px;
  padding-bottom: 10px;
}

.msgl {
  align-self: flex-start;
}


.msgr {
  align-self: flex-end;
}

.msg {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
  width: 100%;
}

.currmsg {
  flex-grow: 1;
}

.sendbtn {
  width: 75px;
}
