body {
  margin: 0;
}

.box {
  background-color: cornflowerblue;
  height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  padding-bottom: 42px;
}

.currmsg {
  position: fixed;
  bottom: 1px;
  width: 500px;
}

.sendbtn {

  position: fixed;
  bottom: 1px;
  left: 520px;
}

.blob {
  border-radius: 20px;
  border-color: white;
  background-color: white;
}
