body {
  margin: 0px;
}


.box_outer {
  display: flex;
  flex-direction: row;
  background-color: seagreen;
  height: 100vh;
}


.box_inner {
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
}


.msgHst {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
  overflow: auto;
  padding-left: 10px;
  padding-bottom: 10px;
}

.msgl {
  background-color: whitesmoke;
  align-self: flex-start;
  border-radius: 5px;
  padding: 5px;
}

.msgr {
  background-color: whitesmoke;
  align-self: flex-end;
  border-radius: 5px;
  padding: 5px;
}


.form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 150px;
  width: 100%;
}

.currmsg {
  flex-grow: 1;
}

.sendbtn {
  width: 75px;
}
