body {
  margin: 0px;
}


.box_outer {
  display: flex;
  flex-direction: row;
  background-color: seagreen;
}

.box_inner {
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
}

.box_messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;

}

.msgHst {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 20px;
  overflow: auto;
  margin-left: 10px;
}

.msg {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
}

.form {
  position: relative;
  bottom: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
}

.currmsg {
  width: calc(100% - 75px);
}

.sendbtn {
  width: 75px;
}
