.box_conv {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: darkolivegreen;
  padding: 10px;
  row-gap: 10px;
  overflow: auto;
}

.conv {
  background-color: darkgreen;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
