.box_conv {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 10px;
  overflow: auto;
}

.conv {
  background-color: forestgreen;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
