.box_form {
  background-color: darkseagreen;
  padding: 300px 600px;
  height: 44vh;
}

.login_form {
  background-color: forestgreen;
  width: 500px;
  padding: 80px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  border-radius: 8px;
}

.box_input {
  display: flex;
  column-gap: 10px;
}

.user_detail {
  color: whitesmoke;
  font-weight: 600;

}

.sign_up {
  color: white;
  font-size: x-large;
  font-weight: 600;
}

.submit_btn {
  padding: 10px;
}
