.side_panel {
  display: flex;
  flex-direction: column;
  background-color: darkseagreen;
  width: 400px;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  font-size: large;
  font-weight: 800;
  color: darkgreen;
}

.add_group {
  border-style: solid;
  border-color: whitesmoke;
  padding-inline: 10px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.add_group_btn {
  background-color: darkseagreen;
  border-style: none;
  font-size: large;
  font-weight: 800;
  color: white;
}
